# Ignorar entornos virtuales
venv/
env/
*/venv/
*/env/
venv_*/
env_*/

# Ignorar resultados de entrenamiento
runs/
checkpoints/
*/runs/
*/checkpoints/
rtdetr/RTDETR_Constellations/
*.log
*.tfevents.*

# Ignorar archivos de pesos grandes
*.pt
*.onnx
*.openvino
*.pth

# Ignorar carpetas de configuración de editores
.idea/
.vscode/
*.iml
__pycache__/
*/__pycache__/

# Ignorar archivos de logs y auxiliares
*.log

# Archivos específicos de pruebas
EvaluarYOLONAS.py
EvaluarYOLONAS_FINAL.py
Prueba.py

# Ignora el repositorio oficial clonado
efficientdet/automl/
rtdetr/source/

# Ignorar el checkpoint pre-entrenado de COCO descargado
efficientdet-d0.tar.gz
efficientdet-d0/
