# Ignorar entornos virtuales
venv/
env/
*/venv/
*/env/
venv_*/
env_*/

# Ignorar resultados de entrenamiento
runs/
checkpoints/
*/runs/
*/checkpoints/

# Ignorar archivos de pesos grandes
*.pt
*.onnx
*.openvino
*.pth

# Ignorar carpetas de configuración de editores
.idea/
.vscode/
*.iml

# Ignorar archivos de logs y auxiliares
*.log

# Archivos específicos de pruebas
EvaluarYOLONAS.py
EvaluarYOLONAS_FINAL.py
Prueba.py

# Ignora el repositorio oficial clonado
efficientdet/automl/