# Ignorar entornos virtuales
venv/
venv_nas/

# Ignorar resultados de entrenamiento
runs/
checkpoints/

# Ignorar archivos de pesos grandes
*.pt
*.onnx
*.openvino

# Ignorar carpetas de configuración de editores
.idea/
.vscode/

# Ignorar archivos de logs y auxiliares
*.log

EvaluarYOLONAS.py
EvaluarYOLONAS_FINAL.py
Prueba.py

yolo_nas_s_coco.pth